/* Apply styles only for mobile devices */
@media screen and (max-width: 850px) {
    .dronesList-header {
        display: flex;
        flex-direction: column;
        background: #f8f9fa; /* Light background */
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        width: 90%;
        margin: 10px auto;
    }

    .dronesList-header span {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 8px 0;
        border-top: 1px solid#666;
    }

    label {
        font-size: 14px;
        font-weight: bold;
    }

    .dronesList-header input{
        all: unset;
        font-size: 14px;
        color: #666;
        background: transparent;
        border-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }

    .drone-status {
        background: #28a745;
        color: white;
        padding: 6px 12px;
        border-radius: 20px;
        text-align: center;
        font-weight: bold;
        width: fit-content;
        margin: 5px auto;
    }

    .drone-arm-status {
        background: #ffcccc;
        color: #900;
        padding: 6px 12px;
        border-radius: 20px;
        text-align: center;
        font-weight: bold;
        width: fit-content;
        margin: 5px auto;
    }
}

@media screen and (max-width: 850px) and (orientation:landscape) {
    [id^="ctrlPanel"] input{
        font-size: 11px;
    }

    [id^="ctrlPanel5"] {
        margin: auto;
        position: relative;
        width: 40%;
        margin-top: 5px;
        bottom: -5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    [id^="ctrlPanel2"] {
        top: 20% !important;
    }
    [id^="ctrlPanel3"] {
        top: 70% !important;
    }
    [id^="ctrlPanel4"] {
        top: 20% !important;
    }
    [id^="ctrlPanel8"] {
        top: 70% !important;
    }
}


@media screen and (max-width: 850px) and (orientation:portrait) {
    .dronesList-content{
        display: none !important;
    }
}