<html xmlns:th="http://thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="/js/library.js"></script>

        <script th:inline="javascript">  
            const PUBLIC_IP = [[${publicIp}]]
            const PORT = [[${hostPort}]]
            const VIDEO_ENDPOINT = [[${videoEndpoint}]]
            const DEFAULT_SPEED = [[${defaultSpeed}]]
            const DEFAULT_ALTITUDE = [[${defaultAltitude}]]
            const GOOGLE_API_KEY = [[${googleApiKey}]]
            const script = document.createElement("script");
            script.src = `https://maps.googleapis.com/maps/api/js?key=${GOOGLE_API_KEY}`;
            script.type = "text/javascript";
            script.onload = () => {
                const appScript = document.createElement("script");
                appScript.src = "/js/app.js";
                document.head.appendChild(appScript);
            };
            document.head.appendChild(script);
        </script>

        <script type="text/javascript" src="/js/ui-components.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
        
        <title>Drone Control</title>
    </head>
<body>  
    <div class="topnav">
        <a href="/">Drone Control Center</a>
    </div>
    <div id="container" style="display: flex; flex-wrap: wrap;">
        <div id="map"></div>
        <div id="drone-head">
            <a href="/">Drone List</a>
        </div>
        <div class="dronesList"></div>
    </div>

</body>
</html>